.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#instructions {
    float: none;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    background-color: rgb(239, 195, 55);
    margin-right: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    max-width: 100%;
    padding-bottom: 30px;
}

#text {
    float: none;
    font-size: 1.5em;
    width: 85.33218%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 36px;
    clear: none;
    min-height: 32px;
    font-family: 'Playfair Display';
    color: rgb(255, 255, 255);
    margin-right: auto;
}

#information {
    float: left;
    height: 172px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
}

#text1 {
    float: left;
    font-size: 3em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 25px;
    clear: none;
    min-height: 23px;
    font-family: 'Playfair Display';
    color: rgb(108, 108, 108);
    position: relative;
    top: 0px;
    left: 0px;
}

#text2 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 15px;
    clear: both;
    min-height: 84px;
}

#textspan2 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-family: 'Museo Sans 700';
    color: rgb(29, 29, 29);
    font-weight: 700;
}

#textspan1 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-family: 'Museo Sans 300';
    font-weight: 300;
    color: rgb(108, 108, 108);
}

#icons {
    float: left;
    height: 66px;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
}

#box {
    float: none;
    height: 26px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 58px;
    margin-right: auto;
}

#image {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
    display: block;
    margin-bottom: 0px;
}

#image1 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
    margin-right: 0%;
    margin-bottom: 0px;
}

#textspan {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-style: italic;
}

