.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
    background-color: rgb(242, 242, 242);
}

#background_image {
    float: none;
    height: 593px;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 0px;
    max-width: none;
    position: relative;
    padding: 1px 0px 0px;
    overflow: hidden;
    min-width: 0px;
    background-image:url("img/portfolio_home.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    display: block;
    background-position: 50% 0%;
    background-repeat: repeat repeat;
}

#box {
    float: none;
    height: 185px;
    margin-left: auto;
    margin-top: 171px;
    clear: none;
    width: 700px;
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: auto;
}

#Navigation {
    float: none;
    height: 66px;
    clear: none;
    width: auto;
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: 100;
    max-width: 100%;
    min-width: 0px;
    bottom: auto;
    right: 0px;
    display: block;
}

#Dean_Biele_Title {
    float: left;
    font-size: 4em;
    width: 400px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    clear: none;
    min-height: 25px;
    font-family: 'Playfair Display';
    color: rgb(255, 255, 255);
    position: absolute;
}

#nav_wrapper {
    float: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    width: auto;
    max-width: 1075px;
    position: relative;
    top: 0px;
    left: 0px;
}

#text {
    float: none;
    font-size: 3em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin: 22px auto 0px;
    clear: none;
    min-height: 29px;
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display';
    font-style: normal;
    max-width: 100%;
    min-width: 0px;
}

#white-lines {
    float: none;
    height: 1px;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    width: 200px;
    background-color: rgb(248, 248, 248);
    margin-right: auto;
}

#bullets {
    float: left;
    font-size: 2.3em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 36px;
    clear: none;
    min-height: 27px;
    font-family: 'Museo Sans 700';
    color: rgb(255, 255, 255);
}

#textspan {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-family: 'Museo Sans 300';
}

#textspan1 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-family: 'Museo Sans 300';
}

#password_window {
    float: none;
    height: 116px;
    clear: none;
    width: 33.993293%;
    background-color: rgb(255, 255, 255);
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px auto;
}

#text1 {
    float: none;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 13px;
    clear: none;
    min-height: 24px;
    min-width: 0px;
    margin-right: auto;
    font-family: 'Playfair Display';
    color: rgb(51, 51, 51);
    display: block;
}

#password_button:active {
    display: block;
}

#password_button {
    float: none;
    height: 21px;
    font-size: 1em;
    margin: 6px auto 0px;
    clear: none;
    width: 50.204638%;
    font-family: 'Museo Sans 700';
    font-weight: 700;
    text-transform: uppercase;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(0, 0, 0);
    display: block;
    background-color: rgb(51, 51, 51);
}

#password_txt {
    float: none;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: auto;
    margin-top: 12px;
    clear: none;
    min-height: 20px;
    margin-right: auto;
    font-family: 'Museo Sans 300';
    display: block;
    background-color: rgb(255, 255, 255);
    min-width: 0px;
}

#custom_elearning_content {
    float: none;
    height: auto;
    margin: 40px auto 0px;
    clear: none;
    width: 1180px;
    display: block;
}

#row_1_title {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 700;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 33px;
    font-family: 'Playfair Display';
    font-style: normal;
}

#row1_div {
    float: left;
    height: auto;
    margin: 20px 0px 0px 0%;
    clear: both;
    width: 100%;
    display: block;
}

#column_1_1 {
    float: left;
    height: 400px;
    margin: 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
    background-color: rgb(242, 242, 242);
    display: block;
}

#text2 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    font-style: normal;
    display: block;
}

#box1 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: none;
    width: 100%;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
    padding: 0px 20px;
}

#column_2_1 {
    float: left;
    height: 400px;
    margin: 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
}

#image {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
}

#image1 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#box2 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: none;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#text3 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History1 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break1 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project1 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    display: block;
}

#column_3_1 {
    float: left;
    height: 400px;
    margin: 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
}

#image2 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#box3 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#text4 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History2 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break2 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project2 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    display: block;
}

#lms_content {
    float: none;
    height: auto;
    margin: 40px auto 0px;
    clear: none;
    width: 1180px;
    display: block;
}

#row_1_title2 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 700;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 33px;
    font-family: 'Playfair Display';
    font-style: normal;
}

#row1_div2 {
    float: left;
    height: auto;
    margin: 20px 0px 0px 0%;
    clear: both;
    width: 100%;
}

#column_1_12 {
    float: left;
    height: auto;
    margin: 20px 0px 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
    display: block;
    background-color: rgb(242, 242, 242);
}

#image13 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
}

#box14 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: none;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    background-color: rgb(255, 255, 255);
}

#text15 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History13 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break13 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project13 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    font-style: normal;
    display: block;
}

#column_2_12 {
    float: left;
    height: auto;
    margin: 20px 0px 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
}

#image14 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#box15 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: none;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#text16 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History14 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break14 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project14 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    display: block;
}

#column_3_12 {
    float: left;
    height: auto;
    margin: 20px 0px 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
}

#image15 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#box16 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#text17 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History15 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break15 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project15 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    display: block;
}

#authoring_tools_content {
    float: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    width: 1180px;
    display: block;
    padding-top: 40px;
}

#row_1_title1 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 700;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 33px;
    font-family: 'Playfair Display';
    font-style: normal;
}

#row1_div1 {
    float: left;
    height: auto;
    margin: 20px 0px 0px 0%;
    clear: both;
    width: 100%;
}

#column_1_11 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
    display: block;
    background-color: rgb(242, 242, 242);
}

#image6 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
}

#box7 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: none;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    background-color: rgb(255, 255, 255);
}

#text8 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History6 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break6 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project6 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    font-style: normal;
    display: block;
}

#column_2_11 {
    float: left;
    height: auto;
    margin: 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
}

#image7 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#box8 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: none;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#text9 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History7 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break7 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project7 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    display: block;
}

#column_3_11 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
}

#image8 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#box9 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#text10 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History8 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break8 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project8 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    display: block;
}

#code_content {
    float: none;
    height: auto;
    margin: 40px auto 0px;
    clear: none;
    width: 1180px;
    display: block;
}

#row_1_title3 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 700;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 33px;
    font-family: 'Playfair Display';
    font-style: normal;
}

#row1_div3 {
    float: left;
    height: auto;
    margin: 20px 0px 0px 0%;
    clear: both;
    width: 100%;
}

#column_1_13 {
    float: left;
    height: auto;
    margin: 20px 0px 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
    display: block;
    background-color: rgb(242, 242, 242);
}

#image17 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
}

#box18 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: none;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    background-color: rgb(255, 255, 255);
}

#text19 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History17 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break17 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project17 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    font-style: normal;
    display: block;
}

#column_2_13 {
    float: left;
    height: auto;
    margin: 20px 0px 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
}

#image18 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#box19 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: none;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#text20 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History18 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break18 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project18 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    display: block;
}

#column_3_13 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 20px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
}

#image19 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#box20 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#text21 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History19 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break19 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project19 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    display: block;
}

#column_1_2 {
    float: left;
    height: 400px;
    margin: 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
}

#image3 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#box4 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#text5 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History3 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break3 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project3 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    display: block;
}

#column_2_2 {
    float: left;
    height: 400px;
    margin: 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
}

#image4 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#box5 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#text6 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History4 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break4 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project4 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    display: block;
}

#column_3_2 {
    float: left;
    height: 400px;
    margin: 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
}

#image5 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#box6 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#text7 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History5 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break5 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project5 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    display: block;
}

#column_1_21 {
    float: left;
    height: auto;
    margin: 20px 0px 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
}

#image9 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#box10 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#text11 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History9 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break9 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project9 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    display: block;
}

#column_2_21 {
    float: left;
    height: auto;
    margin: 20px 0px 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
}

#image10 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#box11 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#text12 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History10 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break10 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project10 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    display: block;
}

#column_2_22 {
    float: left;
    height: auto;
    margin: 20px 0px 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
}

#image11 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#box12 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#text13 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History11 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break11 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project11 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    display: block;
}

#column_1_3 {
    float: left;
    height: auto;
    margin: 20px 0px 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
}

#image12 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#box13 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#text14 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History12 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break12 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project12 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    display: block;
}

#column_1_22 {
    float: left;
    height: auto;
    margin: 20px 0px 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
}

#image16 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#box17 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#text18 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History16 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break16 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project16 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    display: block;
}

#column_1_23 {
    float: left;
    height: auto;
    margin: 20px 0px 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
}

#image20 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#box21 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#text22 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History20 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break20 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project20 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    display: block;
}

#column_2_23 {
    float: left;
    height: auto;
    margin: 20px 0px 0px;
    clear: none;
    width: 33.33%;
    padding: 0px 18px;
}

#image21 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#box22 {
    float: left;
    height: 170px;
    margin: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    padding: 0px 20px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#text23 {
    float: left;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 36px;
    font-family: 'Playfair Display';
}

#Technology_History21 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    min-height: 19px;
    font-family: 'Playfair Display';
}

#break21 {
    float: left;
    height: 1px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50px;
    background-color: rgb(6, 0, 0);
}

#view_project21 {
    float: left;
    font-size: 0.75em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Museo Sans 300';
    min-width: 0px;
    color: rgb(156, 153, 153);
    display: block;
}

@media only screen and (max-width: 1179px) {
    #custom_elearning_content {
        width: 100%;
    }

    #authoring_tools_content {
        width: 100%;
    }

    #lms_content {
        width: 100%;
    }

    #code_content {
        width: 100%;
    }

    #column_1_1 {
        height: auto;
    }

    #column_2_1 {
        height: auto;
    }

    #column_3_1 {
        height: auto;
    }

    #column_1_2 {
        height: auto;
        margin-top: 20px;
    }

    #column_2_2 {
        height: auto;
        margin-top: 20px;
    }

    #column_3_2 {
        height: auto;
        margin-top: 20px;
    }

    #column_1_11 {
        height: auto;
    }

    #column_2_11 {
        height: auto;
    }

    #column_3_11 {
        height: auto;
    }

    #column_1_21 {
        height: auto;
        margin-top: 20px;
    }

    #column_2_21 {
        height: auto;
        margin-top: 20px;
    }

    #column_2_22 {
        height: auto;
        margin-top: 20px;
    }

    #column_1_3 {
        height: auto;
        margin: 20px 0px 0px;
    }

    #background_image {
        margin: 0px auto;
    }

    #password_window {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
        display: none;
    }

    #row_1_title {
        font-style: normal;
    }

    #row_1_title1 {
        font-style: normal;
    }

    #row_1_title2 {
        font-style: normal;
    }

    #row_1_title3 {
        font-style: normal;
    }
}

@media only screen and (max-width: 1038px) {
    #password_window {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
    }
}

@media only screen and (max-width: 768px) {
    #column_1_1 {
        width: 50%;
    }

    #column_2_1 {
        width: 50%;
    }

    #column_3_1 {
        width: 50%;
        margin: 20px 0px 0px;
    }

    #column_1_2 {
        width: 50%;
        margin: 20px 0px 0px;
    }

    #column_2_2 {
        width: 50%;
    }

    #column_3_2 {
        width: 50%;
    }

    #column_1_11 {
        width: 50%;
    }

    #column_2_11 {
        width: 50%;
    }

    #column_3_11 {
        width: 50%;
        margin: 20px 0px 0px;
    }

    #column_1_21 {
        width: 50%;
    }

    #column_2_21 {
        width: 50%;
    }

    #column_2_22 {
        width: 50%;
    }

    #column_1_3 {
        width: 50%;
        margin: 20px 0px 0px;
    }

    #column_1_12 {
        width: 50%;
    }

    #column_2_12 {
        width: 50%;
    }

    #column_3_12 {
        width: 50%;
    }

    #column_1_22 {
        width: 50%;
    }

    #column_1_13 {
        width: 50%;
    }

    #column_2_13 {
        width: 50%;
    }

    #column_3_13 {
        width: 50%;
    }

    #column_1_23 {
        width: 50%;
    }

    #column_2_23 {
        width: 50%;
    }

    #background_image {
        display: block;
    }

    #box {
        min-width: 445px;
        max-width: 700px;
        width: auto;
    }

    #password_window {
        min-width: 300px;
        width: 39.0625%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
    }
}

@media only screen and (max-width: 445px) {
    #password_window {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
    }

    #column_1_1 {
        width: 100%;
    }

    #column_2_1 {
        width: 100%;
        margin-top: 20px;
    }

    #column_3_1 {
        width: 100%;
    }

    #column_1_2 {
        width: 100%;
    }

    #column_2_2 {
        width: 100%;
    }

    #column_3_2 {
        width: 100%;
    }

    #column_1_11 {
        width: 100%;
    }

    #column_2_11 {
        width: 100%;
        margin-top: 20px;
    }

    #column_3_11 {
        width: 100%;
    }

    #column_1_21 {
        width: 100%;
    }

    #column_2_21 {
        width: 100%;
    }

    #column_2_22 {
        width: 100%;
    }

    #column_1_3 {
        width: 100%;
        margin: 20px 0px 0px;
    }

    #column_1_12 {
        width: 100%;
    }

    #column_2_12 {
        width: 100%;
    }

    #column_3_12 {
        width: 100%;
    }

    #column_1_22 {
        width: 100%;
    }

    #column_1_13 {
        width: 100%;
    }

    #column_2_13 {
        width: 100%;
    }

    #column_3_13 {
        width: 100%;
    }

    #column_1_23 {
        width: 100%;
    }

    #column_2_23 {
        width: 100%;
    }

    #background_image {
        width: 100%;
        background-image:url("img/portfolio_home_small.jpg");
        background-attachment: scroll;
        -webkit-background-size: auto;
        background-size: auto;
        height: 460px;
        background-position: 50% 0%;
        background-repeat: repeat repeat;
    }

    #box {
        width: 100%;
        max-width: 445px;
        min-width: 320px;
    }
}

